extends base

block content
  .container.mt-5.animate__animated.animate__fadeIn
    .row
      .col-12
        h2.text-center.mt-4 About Us
        p.text-center.mb-5 Learn more about our Photo Haven.

    .row
      .col-md-6
        .card.mb-4
          .card-header.bg-primary.text-white
            h3.card-title Our Story
          .card-body
            p Photo Haven was founded in 2024 with the mission to provide high-quality photography services to everyone. Initially designed to be a personal website.

      .col-md-6
        .card.mb-4
          .card-header.bg-success.text-white
            h3.card-title Our Vision
          .card-body
            p Our vision is to become the leading photography service provider in the region, known for our dedication to quality and customer satisfaction.

    .row.mt-5
      .col-12
        .card.mb-4
          .card-header.bg-warning.text-white
            h3.card-title Our Values
          .card-body
            .row
              .col-md-4
                .card.text-center.border-0
                  .card-body
                    i.fas.fa-gem.fa-3x.mb-3.text-warning
                    h5.card-title Commitment to Quality
                    p.card-text We are committed to providing the highest quality photography services.
              .col-md-4
                .card.text-center.border-0
                  .card-body
                    i.fas.fa-users.fa-3x.mb-3.text-success
                    h5.card-title Customer-Centric Approach
                    p.card-text Our customers are at the heart of everything we do.
              .col-md-4
                .card.text-center.border-0
                  .card-body
                    i.fas.fa-lightbulb.fa-3x.mb-3.text-primary
                    h5.card-title Innovation and Creativity
                    p.card-text We constantly strive for innovation and creativity in our work.
