extends base

block content
  .container.mt-5.main-content
    .jumbotron.text-center.bg-info.text-white
      h1 Welcome to Photo Haven
      p.lead The best PhotoShop website!

    .row.text-center.mt-4
      .col-md-4
        .card
          .card-body
            i.fas.fa-calendar-alt.fa-3x.mb-3.text-primary
            h5.card-title Strict Deadlines
            p.card-text We timely deliver all our projects.
            a.btn.btn-primary(href='#') Read more
      .col-md-4
        .card
          .card-body
            i.fas.fa-tag.fa-3x.mb-3.text-success
            h5.card-title Best Pricing
            p.card-text Best pricing for top-notch quality.
            a.btn.btn-success(href='#') Read more
      .col-md-4
        .card
          .card-body
            i.fas.fa-star.fa-3x.mb-3.text-warning
            h5.card-title High Quality
            p.card-text Unmatched quality in every photo.
            a.btn.btn-warning(href='#') Read more

    .row.mt-5
      .col-12
        h2.text-center Recent Work
        .row
          .col-md-4
            .card
              img.card-img-top(src='https://upload.wikimedia.org/wikipedia/commons/4/47/American_Eskimo_Dog.jpg', alt='Fluffy Delight')
              .card-body
                h5.card-title Fluffy Delight
                p.card-text This American Eskimo dog is enjoying a sunny day in the garden. Captured for our canine happiness project.
                a.btn.btn-primary(href='#') Read more
          .col-md-4
            .card
              img.card-img-top(src='https://upload.wikimedia.org/wikipedia/commons/d/d2/Border_collie_weave_poles.jpg', alt='Agility Champion')
              .card-body
                h5.card-title Agility Champion
                p.card-text A Border Collie showing off its agility skills during a training session. Part of our action photography series.
                a.btn.btn-primary(href='#') Read more
          .col-md-4
            .card
              img.card-img-top(src='https://upload.wikimedia.org/wikipedia/commons/4/45/Natedog.jpg', alt='Hot Dog Fun')
              .card-body
                h5.card-title Hot Dog Fun
                p.card-text This playful dachshund dressed as a hot dog was captured at a local pet costume event. It's all about fun and creativity.
                a.btn.btn-primary(href='#') Read more
