extends base

block content
  .container.mt-5.animate__animated.animate__fadeIn
    h2.text-center.mt-4 Our Services
    section.mt-4
      .row.text-center
        .col-md-4
          .card
            .card-body
              i.fas.fa-camera-retro.fa-3x.mb-3.text-primary
              h5.card-title Wedding Photography
              p.card-text Capture your special day with beautiful wedding photos.
        .col-md-4
          .card
            .card-body
              i.fas.fa-user.fa-3x.mb-3.text-success
              h5.card-title Portrait Photography
              p.card-text Professional portrait photography for individuals, families, and businesses.
        .col-md-4
          .card
            .card-body
              i.fas.fa-calendar-alt.fa-3x.mb-3.text-warning
              h5.card-title Event Photography
              p.card-text Comprehensive photography services for all types of events.
        .col-md-4
          .card
            .card-body
              i.fas.fa-pencil-alt.fa-3x.mb-3.text-danger
              h5.card-title Photo Editing
              p.card-text Enhance your photos with our expert photo editing services.
